<h1>This is a simple implementation of a 3LO app</h1>
<p>Represents a simple flow of authorizing this app to impersonate a user and call REST API calls on their behalf</p>

<p>
    <span>
        Click on <a href="https://auth.atlassian.com/authorize?audience=api.atlassian.com&client_id={{client_id}}&scope={{scope}}&redirect_uri={{callback}}&state={{state}}&response_type=code&prompt=consent">Initiate 3LO authorization flow</a>
        to initiate the flow
    </span>
</p>

<div>
    {{body}}
</div>
